# Основные зависимости
fastapi==0.103.1
uvicorn==0.27.1
python-dotenv==0.21.1
sqlalchemy==2.0.25
alembic==1.14.1
aiosqlite==0.17.0
sqlalchemy-utils==0.41.1
pydantic==2.4.2
pydantic-settings==2.0.3

# Аутентификация и безопасность
python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20

# Telegram бот
aiogram==3.18.0
aiohttp==3.9.3

# Шаблоны
jinja2==3.1.2
aiofiles==23.2.1

# Инструменты разработки
pytest==8.0.0
pytest-asyncio==0.23.5 