# Core
fastapi==0.104.1
uvicorn==0.24.0.post1
python-dotenv==1.0.0
pydantic==2.5.2
pydantic-settings==2.1.0
email-validator==2.1.0.post1

# Database
sqlalchemy==2.0.25
asyncpg==0.29.0  # Асинхронный драйвер PostgreSQL
alembic==1.13.1
SQLAlchemy-Utils==0.41.1
aiosqlite==0.19.0  # SQLite для тестов

# FastAPI Components
python-multipart==0.0.7
Jinja2==3.1.2
itsdangerous==2.1.2

# Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
slowapi==0.1.9
certifi==2023.11.17

# Monitoring and Logging
prometheus-client==0.17.1
prometheus-fastapi-instrumentator==6.1.0
loguru==0.7.2

# Telegram
aiogram==3.2.0
aiohttp==3.9.1

# Testing
httpx==0.25.2

# Utilities
tenacity==8.2.3

# Vercel Specific
python-http-client==3.3.7
starlette==0.27.0 