<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrillFlow - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='webapp/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">
    <style>
        body {
            line-height: inherit;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background: linear-gradient(135deg, #111827, #1e3a8a, #064e3b);
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', path='webapp/script.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html> 