<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrillFlow - Панель управления</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="/static/webapp/script.js" type="text/babel"></script>
    <link href="/static/webapp/style.css" rel="stylesheet">
</head>
<body>
    <div id="root"></div>
    <script type="text/babel">
        ReactDOM.render(
            <Dashboard />,
            document.getElementById('root')
        );
    </script>
</body>
</html>